@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Jost'),
    url('../Fonts/Jost-Regular.woff2') format('woff2'), 
    url('../Fonts/Jost-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local('Jost'),
    url('../Fonts/Jost-Medium.woff2') format('woff2'), 
    url('../Fonts/Jost-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Jost'),
    url('../Fonts/Jost-Bold.woff2') format('woff2'), 
    url('../Fonts/Jost-Bold.woff') format('woff');
}