* {
    margin: 0;
    padding: 0;
}

body {
    background: #2B2C3A;
    font-family: 'Jost', 'Arial', sans-serif;
    font-weight: 400;
    color: white;
}

.leftbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 280px;
    background: rgba(156, 165, 236, 0.04);
}

.beeinters-container {
    display: inline-block;
    border-bottom: 2px solid #d8d8d80c;
    width: 100%;
    padding: 5px 20px;
}

.beeinters-container-date {
    font-weight: 500;
    margin-left: 65px;
    font-size: 11px;
}

.beeinters-container-logo {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 1px;
}

.switcher-container {
    margin-top: 30%;
    position: fixed;
    margin-left: 20px;
}

.switcher-container-text {
    display: inline-block;
    opacity: 0.5;
    position: relative;
    bottom: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    margin-left: 65px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(156, 165, 236, 0.04);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #ccc;
    transition: .4s;
}

input:checked+.slider {
    background: rgba(156, 165, 236, 0.04);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(18px);
    background: #6F6EFF;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.top-bar {
    background: #2B2C3A;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 82.5%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    margin-left: 280px;
    border-bottom: 2px solid #d8d8d80c;
    box-sizing: border-box;
}

.top-bar-help-container {
    display: flex;
    margin-left: 70px;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}

.top-education-container {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.education-item {
    background: #d8d8d80c;
    border-radius: 5px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
}

.top-hours-item {
    display: flex;
    align-items: center;
}

.red-box {
    width: 18px;
    height: 18px;
    background: #FF4738;
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
    margin-right: 10px;
    margin-left: -13px;
}

.lightning {
    position: relative;
    width: 7px;
    height: 12px;
}

.education-text {
    font-size: 13px;
}

.top-hours {
    font-size: 11px;
    position: relative;
    bottom: 1px;
}

.settings-text {
    border-right: 1px solid #525050;
    opacity: 0.1;
    padding-right: 25px;
}

.help-text {
    font-size: 14px;
    opacity: 0.6;
}

.account-container {
    display: flex;
    align-items: center;
    width: 190px;
    justify-content: space-between;
}

.account-name-text {
    font-size: 14px;
    white-space: nowrap;
}

.account-status-text {
    font-size: 13px;
    color: #24CB8D;
    font-weight: 600;
}

.subscription-text {
    font-size: 11px;
}

.Tochka {
    position: relative;
    bottom: 3px;
}

.account-subscription {
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0px 0px 12px rgb(111 110 255 / 50%);
    border-radius: 4px;
    padding: 0 10px;
}


.main {
    padding: 65px 0 0 350px;
    margin-top: 30px;
    height: 800px;
}

.weekly-header-container {
    display: flex;
    justify-content: space-between;
}

.weekly-navigation-container {
    display: flex;
    align-items: center;
    padding-right: 35px;
}

.weekly-header-level-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff3d;
}

.weekly-topic-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
}

.weekly-button {
    width: 89px;
    height: 30px;
    color: white;
    font-size: 13px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    border: none;
}

.weekly-header-button {
    width: 86px;
    font-size: 12px;
    height: 30px;
    color: white;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    border: none;
}

.weekly-header-button-container {
    margin-right: 10px;
}

.weekly-body-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 115px 45px 0;
}

.weekly-list-item {
    width: 255px;
    height: 294px;
    background: #4040404f;
    border-radius: 6px;
}

.weekly-pic-container {
    background-image: url('../main-images/main\ 1.png');
    background-size: cover;
    background-position: center;
    height: 171px;
    width: 255px;
    border-radius: 6px 6px 0 0;
}

.second-pic-container {
    background-image: url('../main-images/main\ 2.png');
}

.third-pic-container {
    background-image: url('../main-images/main\ 3.png');
}

.four-pic-container {
    background-image: url('../main-images/main\ 4.png');
}

.weekly-text-title {
    font-size: 16px;
    font-weight: 400;
}

.weekly-undertext {
    opacity: 0.5;
    font-size: 14px;
}

.weekly-text-title,
.weekly-undertext {
    padding-left: 10px;
}

.weekly-text-title {
    padding-top: 10px;
}

#second-under-container,
#third-under-container {
    margin-top: 5px;
}

.weekly-under-conatiner {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.weekly-button-text {
    align-self: center;
    font-size: 13px;
}

.third-undertext {
    width: 70%;
}

.weekly-text-container {
    border-bottom: 1px solid #d8d8d80c;
}

.first-under-container,
.last-under-container {
    margin-top: 5px;
}

.weekly-text-container {
    padding-bottom: 5px;
}

.first-text-container,
.last-text-container {
    padding-bottom: 25px;
}

.third-undertext-copy {
    width: 85%;
}

.weekly-pic-header-container {
    display: inline-block;
    margin: 10px 0 0 10px;
    background: #6F6EFF;
    border-radius: 3px;
    width: 50px;
    height: 20px;
}

.weekly-pic-text {
    font-size: 12px;
    text-align: center;
}

.weekly-second-undertext-copy {
    width: 80%;
}

/*          Animation            */
.games-second-list-text:hover {
    opacity: 1;
}

.games-list-text:hover {
    opacity: 0.5;
}

.arrow:active {
    transform: scale(1.1);
}

.arrow:hover {
    opacity: 1;
    background-color: #6B69F9;
}

.weekly-text-container:hover {
    filter: drop-shadow(0 0 0.75rem #6B69F9);
    text-shadow: #fff 0 0 20px;
}

.weekly-pic-text:active {
    transform: scale(1.2);
}

.SECRET {
    font-size: 21px;
    color: #dcdfff;
    font-weight: 700;
    opacity: 0;
    position: relative;
    transition: all 0.7s ease-in-out;
    left: 15px;
    top: 15px;
    width: 230px;
}

.weekly-pic-container:hover .SECRET {
    opacity: 1;
    backdrop-filter: blur(2px);
    transition-duration: 3s;
}

.weekly-button:active {
    transform: scale(1.05);
}

.weekly-button:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
}

.weekly-header-button:active {
    transform: scale(1.05);
}

.weekly-header-button:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
}

.help-text:active {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

.help-text:focus {
    color: #6F6EFF;
}

.help-text:hover {
    opacity: 1;
    transition-duration: 0.2s;
}

.education-text:active {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

.education-text:focus {
    color: #6F6EFF;
}

.education-text:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
}

.education-item:hover {
    background-color: #3a3a3a;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}

.red-box:active {
    background: #3a3a3a;
}

.lightning:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.account-subscription:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
    box-shadow: 2px 2px #6B69F9;
}

.subscription-text:focus {
    color: #3a3a3a;
}

.account-status-container:hover {
    border-bottom: 1px solid #24CB8D;
    box-shadow: 2px 2px white, 4px 4px #24CB8D;
    transition-duration: 0.2s;
}

.account-avatar:hover {
    border-bottom: 1px solid #3a3a3a;
    box-shadow: 2px 2px #2B2C3A, 4px 4px #3a3a3a;
    transition-duration: 0.2s;
}

.right,
.left {
    margin-right: 5px;
}

.select-body__item,
.select__content {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.select-body__item-sec {
    opacity: 0.5;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.select__output {
    justify-content: space-between;
    margin-left: 25px;
    display: flex;
}

.select-body-list {
    margin-left: 25px;
}

.select__output-sec {
    justify-content: space-between;
    display: flex;
}

.select__arrow,
.select__arrow-sec {
    margin-right: 30px;
}

.select-body-list-sec {
    margin-left: 15px;
}

.select-body__item-sec {
    display: flex;
    align-items: center;
}

.fst-item-sec {
    margin-top: 20px;
}
.active{
    transform: rotate(180deg);
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
.none-active{
    transition-duration: 0.15s;
    transition-timing-function: linear;
}